.singapore textarea{
    height: 1080px;
    width: 48%;
    display: block;
    margin: auto;
    float: left;
    background-color: aqua;
    font-size: xx-large;

    color: black;
    

}



body{
    font-family: sans-serif;
    font-size: xx-large;
}


.mkup {
    float: right;
    background-color: orange;
    height: 1080px;
    width: 48%

}
h1{
    text-align: center;
    display: block;
}

